:root{
    background: #cccccc;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}

tbody {
    background: rgb(8, 108, 53);
    font-weight: bold;
    border-radius: 12px ;
    
}

tbody td{
    color: aqua;
    font-weight: bold;
}

.bg-light{
    border:  12px solid #229e6b;    
    font-weight: bold;
}